.App {
  text-align: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    width: 25vw;
    height: 20vw;
    justify-content: center;
  }
